@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	-webkit-tap-highlight-color: transparent;
}

button:not([disabled]) .pressable-sm,
button:not([disabled]).pressable-sm,
button:not([disabled]) .pressable,
button:not([disabled]).pressable,
button:not([disabled]) .pressable-lg,
button:not([disabled]).pressable-lg {
	@apply transform transition-all duration-150;
}

button:not([disabled]):active .pressable-sm,
button:not([disabled]):active.pressable-sm {
	@apply scale-95;
}
button:not([disabled]):active .pressable,
button:not([disabled]):active.pressable {
	@apply scale-90;
}
button:not([disabled]):active .pressable-lg,
button:not([disabled]):active.pressable-lg {
	@apply scale-75;
}
